.loader {
    position: relative;
    width: 5em;
    height: 5em;
    margin: 0 auto;
    margin-top: 50vh ;
    border-radius: 50%;
    background: linear-gradient( #49a09d, #5f2c82);
    animation: animate 1.2s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #f1f1f1;
    border: solid white 10px;
    border-radius: 50%;
}